/* Web CSS */
html{
  scroll-behavior: smooth;
}

body{
  /* background: linear-gradient(to top, #24a9c5, #00d0a0 );
  background-repeat: no-repeat; */
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins";
}

.home-background{
  background: linear-gradient(to top, #24a9c5, #00d0a0 );
  background-repeat: no-repeat;
  min-height: 768px;
}

.title h1{
  color: white;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  /* margin-top: 0px; */
}

.nugget-logo{
  padding: 0;
  display: block;
  padding-top: 40px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.first-para {
width: 693px;
height: 168px;
color: #f3f3f3;
font-weight: 400;
font-size: 24px;
margin-top: 125px;
margin-left: auto;
margin-right: auto;
text-align: center;
}



a {
  display: block;
  margin: 0 auto; 
  margin-top: 115px;
  width: 300px;
  height: 62px;
  font-size: 30px;
  text-decoration: none;
  color: #f3f3f3;
  text-shadow: 2px 2px 4px rgb(102, 102, 102, 0.3);
  font-weight: bold;
  line-height: 2;
  text-align: center;
  z-index: 18;
  border: none;
  border-radius: 12px;
  background-color: #24a9c5;
  border: 2px solid #f3f3f3;
}

a:hover{
  color: #24a9c5;
  background-color: #f3f3f3;
  border: 2px solid #24a9c5;
  box-shadow: 0px 7px rgb(102, 102, 102, 0.3);
}

/* Questionnaire Portion */
.quiz-content{
  margin: 0 auto;
  /* width: 90%; */
  height: auto;
  color: #666666;
  background-color: whitesmoke;
}

.pro-tip{
  color: #666666;
  width:fit-content;
  margin:0 auto;
  padding-top:20px;
  margin-bottom: 25px;
}

h2 {
  color: #00d0a0;
  font-size: 36px;
  font-weight: 600;
  margin-left: 80px;
  /* border: red solid 1px; */
}

label{
  color: #666666;
  font-size: 32px;
}

.salary-question .continue {
  margin-top: 200px;
}

/* Salary Question */

.salary-question{
  min-height: 728px;
  background-color: whitesmoke;
}

.salary-question .input-field{
  width: 654px;
  margin: 0 auto;
  margin-top: 170px;
}

label{
  font-weight: 600;
}

.slide{
  height: 5px;
  width: 0%;
  transition: width 1.5s;
}

.salary-question input{
  width: 100%;
  height: 50px;
  font-size: 30px;
  color: #666666;
  border: none;
  border-bottom: 2px solid #666666;
  outline: none;
  background-color: #f3f3f3;
}

.salary-amt:focus{
  border-bottom:none;
}

.salary-amt:focus + .slide{
  background-color: #28a6c1;
  width: 100%;
}

.page-buttons{
  float: right;
  margin-top: 40px;
  margin-right: 45px;
  height: fit-content;
}

.page-buttons .circle-button{
  width: 15px;
  height: 15px;
  margin-top: 50px;
  background-color: #d7d7d7;
  border-radius: 50%;
}

.circle-button:active{
  border: 2px solid #666666;
  background-color: #f3f3f3;
}

.circle-button:hover{
  border: 2px solid #666666;
  background-color: #f3f3f3;
}

/* Bills Question */

.bills-question{
  min-height: 728px;
}

table{
  width: 1072px;
  height: 442px;
  margin: 0 auto;
  margin-top: 0px;
  /* border: blue solid 1px; */
}

td {
  /* padding: 10px 62px 10px 62px; */
  /* text-align: center; */
  /* border: #24a9c5 solid 1px; */
}

.bills-question .input-field ::placeholder{
  /* text-align: center; */
}

table img {
  width: 130px;
  height: 130px;
  margin-left: 12%;
  float: left;
}

table label{
  font-size: 21px;
}

.bills-question .input-field{
  width: 110px;
  margin-top: 3%;
  margin-right: 12%;
  float: right;
}
.slide{
  height: 3px;
  width: 0%;
  transition: width 1.5s;
}
.bills-question input{
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #666666;
  border: none;
  border-bottom: 2px solid #666666;
  outline: none;
  background-color: #f3f3f3;
}

.bills-question input:focus{
  border-bottom:none;
}

.bills-question input:focus + .slide{
  background-color: #28a6c1;
  width: 100%;
}

.bills-question .continue{
  margin-top: 0px;
}

/* Saving Question*/

.savings-question{
  min-height:728px;
}

.save-amt{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.save-amt::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #666666;
  cursor: pointer;
}

.save-amt::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #666666;
  cursor: pointer;
}

.slider-field{
  width: 654px;
  margin: 0 auto;
  margin-top: 170px;
}

.salary-amt-label{
  color:#c5c5c5;
  font-size: 32px;
  margin-left:20px;
}


/* Mobile CSS */

@media all and (max-width:480px) {
  .title h1 {
    font-size: 48px;
  }
  .first-para {
    font-size: 21px;
    width: 400px;
    }
}


@media all and (max-width:320px) {
  body{
    margin: 0 auto;
    padding: 0;
  }
  .title h1 {
    font-size: 28px;
  }
  .first-para {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    }
    .first-para fieldset{
      font-size: 18px;
    }
  .start-now{
    width: 80%;
  }
}