/* Web CSS */
html{
  scroll-behavior: smooth;
}
body{
  background: linear-gradient(to top right, #24a9c5, #00d49d );
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins";
}

.home-background{
  min-height: 707px;
}

.title h1{
  color: #f3f3f3;
  font-weight: 400;
  font-size: 60px;
  /* text-shadow: 2px 2px 4px rgb(102, 102, 102, 0.6); */
  text-align: center;
}

.nugget-logo{
  /* box-shadow: 0px 7px 7px 0px rgb(102,102,102, 0.4); */
  padding: 0;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.first-para {
width: 693px;
height: 168px;
color: #f3f3f3;
font-weight: 400;
font-size: 24px;
margin-left: auto;
margin-right: auto;
/* text-shadow: 2px 2px 4px rgb(102, 102, 102, 0.6); */
}

.first-para fieldset{
  text-align: center;
  border-radius: 20px;
  border-color: #f3f3f3;
  padding: 25px 20px 25px 20px;
}

.first-para legend{
  font-size: 32px;
  padding-left: 70px;
  padding-right: 70px;
}


.start-now {
  display: block;
  margin: 0 auto; 
  margin-top: 50px;
  width: 40%;
  height: 72px;
  font-size: 30px;
  text-decoration: none;
  color: rgb(234, 127, 1);
  font-weight: bold;
  line-height: 2.5;
  text-align: center;
  z-index: 18;
  border: none;
  border-radius: 12px;
  background-color: rgb(255, 196, 0);
  box-shadow: 0px 7px 0px 0px #e0ac01;
}

.start-now:hover{
  color: rgb(234, 164, 1);
  background-color: rgb(234, 127, 1) ;
}


.quiz-content{
  margin: 0 auto;
  width: 95%;
  height: 768px;
  background-color: white;
}


/* Mobile CSS */

@media all and (max-width:480px) {
  .title h1 {
    font-size: 48px;
  }
  .first-para {
    font-size: 21px;
    width: 400px;
    }
}


@media all and (max-width:320px) {
  body{
    margin: 0 auto;
    padding: 0;
  }
  .title h1 {
    font-size: 28px;
  }
  .first-para {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    }
    .first-para fieldset{
      font-size: 18px;
    }
  .start-now{
    width: 80%;
  }
}