html {
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
    min-height:768px;
    margin: 0 auto;
    padding: 0;
    font-family: "Poppins";
    background: linear-gradient(to top, #24a9c5, #00d0a0);
    background-repeat: no-repeat;
  }

/* display weekly budget*/

  .weekly-budget{
      height:708px;
      padding-top:30px;
  }

  h3{
    font-weight:400;
    color:#f3f3f3;
    font-size:50px;
    margin-left:520px;
  }

  .circle-amt{
    border: 4px solid #f3f3f3;
    border-radius:50%;
    width:300px;
    height:300px;
    background-color:rgba(255,255,255,0.4);
    margin:0 auto;
    margin-top:-20px;
  }

  
.text-below-circle{
    color:#f3f3f3;
    font-size:27px;
    font-weight:300;
    text-align:center;
  }

  .about-content{
      background:#f3f3f3;
      height:1150px;
  } 

  h1{
    padding-top: 120px;
    color:#00d0a0;
    font-size: 65px;
    margin-left: 140px;
}

/* About Nugget*/
.about-content p{
    color:#666666;
    font-size: 30px;
    margin-left: 140px;
}

a {
    display: block;
    margin-left:140px;
    margin-top: 45px;
    width: 300px;
    height: 62px;
    font-size: 30px;
    text-decoration: none;
    color: #f3f3f3;
    text-shadow: 2px 2px 4px rgb(102, 102, 102, 0.3);
    font-weight: bold;
    line-height: 2;
    text-align: center;
    z-index: 18;
    border: none;
    border-radius: 12px;
    background-color: #24a9c5;
    border: 2px solid #f3f3f3;
  }
  
  a:hover {
    color: #24a9c5;
    background-color: #f3f3f3;
    border: 2px solid #24a9c5;
  }

  .phone-template{
      float:right;
      margin-top:-395px;
  }

  .image-gif{
      float:right;
      margin-top:-303px;
      margin-right:-420px;
  }

  /* Wishlist portion*/

  fieldset{
      margin:0 auto;
      border-radius:20px;
      width:900px;
      height:370px;
      color:#666666;
  }

  legend{
      text-align: center;
      padding:30px;
      color:#666666;
      font-size:25px;
  }

  .submit-btn{
    display: block;
    margin-left:290px;
    margin-top: 50px;
    width: 300px;
    height: 62px;
    font-size: 30px;
    text-decoration: none;
    color: #f3f3f3;
    text-shadow: 2px 2px 4px rgb(102, 102, 102, 0.3);
    font-weight: bold;
    line-height: 2;
    text-align: center;
    z-index: 18;
    border: none;
    border-radius: 12px;
    background-color: #24a9c5;
    border: 2px solid #f3f3f3;
  }

  .submit-btn:hover{
    color: #24a9c5;
    background-color: #f3f3f3;
    border: 2px solid #24a9c5;
  }

  input[type=text], select {
    display: inline-block;
    border: 1px solid #666666;
    border-radius: 4px;
    font-family: "Poppins";
    margin-left: 100px;
    margin-top:50px;
    width:300px;
    height:40px;
    font-size:25px;
    box-sizing: border-box;
  }

  input[type=email], select {
    display: inline-block;
    border: 1px solid #666666;
    border-radius: 4px;
    width:400px;
    height:40px;
    font-size:25px;
    font-family: "Poppins";
    box-sizing: border-box;
  }